In [1]:
# TCC: APLICAÇÃO DE MACHINE LEARNING PARA APOSTAS ESPORTIVAS: uso de Regressão Logística,
#      SVM, Árvore de Decisão e Naive Bayes
#
# Aluno: João Henrique
# Orientadora: Renata Alcoforado

In [2]:
# Importando as bases de dados da Espanha

import pandas as pd

d1 = pd.read_csv('SP1(9).csv')
d2 = pd.read_csv('SP1(8).csv')
d3 = pd.read_csv('SP1(7).csv')
d4 = pd.read_csv('SP1(6).csv')
d5 = pd.read_csv('SP1(5).csv')
d6 = pd.read_csv('SP1(4).csv')
d7 = pd.read_csv('SP1(3).csv')
d8 = pd.read_csv('SP1(2).csv')
d9 = pd.read_csv('SP1(1).csv')
d10 = pd.read_csv('SP1.csv')

# Legenda
#d1 = Dados de 2012/2013
#d2 = Dados de 2013/2014
#d3 = Dados de 2014/2015
#d4 = Dados de 2015/2016
#d5 = Dados de 2016/2017
#d6 = Dados de 2017/2018
#d7 = Dados de 2018/2019
#d8 = Dados de 2019/2020
#d9 = Dados de 2020/2021
#d10 = Dados de 2021/2022

In [3]:
# Criando novas bases de acordo com as variáveis presentes e desejadas para o estudo

bd1 = d1[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd2 = d2[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd3 = d3[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd4 = d4[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd5 = d5[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd6 = d6[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd7 = d7[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd8 = d8[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd9 = d9[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd10 = d10[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]

In [4]:
# Base de dados das últimas 5 temporadas

dados5anos = pd.concat([bd6,bd7,bd8,bd9,bd10], axis=0, ignore_index=True)
dados5anos.head()

,Div,Date,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,BWH,BWD,...,IWA,PSH,PSD,PSA,VCH,VCD,VCA,WHH,WHD,WHA
0,SP1,18/08/17,Leganes,Alaves,H,2.05,3.20,4.10,2.05,3.10,...,3.50,2.03,3.25,4.52,2.05,3.2,4.40,2.05,3.10,4.00
1,SP1,18/08/17,Valencia,Las Palmas,H,1.75,3.80,4.50,1.75,3.90,...,4.80,1.78,4.01,4.83,1.80,4.0,4.60,1.80,3.75,4.20
2,SP1,19/08/17,Celta,Sociedad,A,2.38,3.25,3.20,2.40,3.30,...,2.85,2.44,3.40,3.16,2.40,3.4,3.13,2.40,3.40,2.90
3,SP1,19/08/17,Girona,Ath Madrid,D,8.00,4.33,1.45,7.50,4.33,...,1.45,8.36,4.38,1.49,7.50,4.3,1.50,8.00,4.20,1.44
4,SP1,19/08/17,Sevilla,Espanol,D,1.62,4.00,5.50,1.62,3.90,...,6.20,1.62,4.17,6.18,1.65,4.0,5.75,1.67,3.60,5.50

In [5]:
# Exportando o data frame para .csv

dados5anos.to_csv('SPA5anos.csv', index=False)

In [6]:
# Base de dados das últimas 10 temporadas

dados10anos = pd.concat([bd1,bd2,bd3,bd4,bd5,bd6,bd7,bd8,bd9,bd10], axis=0, ignore_index=True)
dados10anos.head()

,Div,Date,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,BWH,BWD,...,IWA,PSH,PSD,PSA,VCH,VCD,VCA,WHH,WHD,WHA
0,SP1,18/08/12,Celta,Malaga,A,2.25,3.25,3.2,2.25,3.40,...,2.7,2.31,3.38,3.43,2.30,3.3,3.40,2.25,3.30,3.2
1,SP1,18/08/12,Mallorca,Espanol,H,2.00,3.30,3.8,2.00,3.30,...,3.2,2.00,3.56,4.17,2.00,3.5,4.10,2.05,3.25,3.8
2,SP1,18/08/12,Sevilla,Getafe,H,1.62,3.75,5.5,1.60,3.75,...,4.4,1.65,3.94,6.15,1.67,3.8,6.00,1.70,3.75,4.8
3,SP1,19/08/12,Ath Bilbao,Betis,A,1.83,3.50,4.2,1.85,3.50,...,4.0,1.89,3.77,4.41,1.87,3.7,4.33,1.91,3.50,4.0
4,SP1,19/08/12,Barcelona,Sociedad,H,1.10,9.00,26.0,1.08,10.00,...,14.0,1.10,12.00,31.00,1.10,12.0,31.00,1.07,11.00,29.0

In [7]:
# Exportando o data frame para .csv

dados10anos.to_csv('SPA10anos.csv', index=False)